// Define color variables
$primary-color: #000000;
$background-color: #ffffff;
$container-background-color: rgba(
  161,
  161,
  161,
  0.478
); // Use rgba for transparency

.footer {
  background-color: $container-background-color;
  color: $primary-color;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
